include mixins/blocks

!!! html
html
  head
    title= title
    meta(name="keywords", content="flash presentations,motion graphics,video production,actionscript programming,banner design,web site design")
    meta(name="description", content="Over 10 years flash presentation design experience, Flash actionscript programming, web site design and production, video production and digital media design. Designers for many of the Fortune 500 firms.")
    link(type="image/x-icon", href="/images/favicon.ico", rel="shortcut icon")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.colorbox-min.js')
    script(type='text/javascript', src='/javascripts/cs.js')
    script(type='text/javascript', src='/javascripts/proj.js')
    script(type='text/javascript', src='/javascripts/scripts.js')
    
  body
  
  a(name='top')
    
  mixin header('work')
  mixin flash()
    
  
  .white-wash
    #subheader
      .container
        .row
          .span12
            .inside
              .title2
                h1
                  | Work
              .submenu
                ul
                  li
                    a(href='#case-studies')
                      | Highlighted
                  li.last
                    a(href='#projects')
                      | Projects

  a(name='case-studies')
  .white-wash
    #case-studies.region-top
      .container
        .row.padd
          .span12
            .inside
              .head-inline
                h2.title-pink
                  | Highlighted
                .subtitle
                  | We're committed to crafting beautiful and engaging customer experiences.
              .cases
                .wrapper
                  .hider
                    img(src='/images/hider.png')
                  .inner
                    - var i = 0;
                    - for cs in cases
                      - i++;
                      div(class='cs cs-#{i}')
                        .image
                          a(href="/work/"+cs.name)
                            img(src='/images/#{cs.image}')
                        .info
                          .text
                            !{cs.quick}
                          
                  //.cs-pager
                  //  .left
                  //    img(src='/images/arrow_grey_left.png')
                  //  .dots
                  //    - var i = 0;
                  //    - for cs in cases
                  //      - i++;
                  //      - if (i == 1)
                  //        div(class="active cs-dot cs-dot-#{i}")
                  //      - else
                  //       div(class="inactive cs-dot cs-dot-#{i}")
                  //  .right
                  //    img(src='/images/arrow_grey_right.png')
              
  
  a(name='projects')
  .white-wash
    #projects.region
      .container
        .row.padd
          .span12
            .inside
              .head-inline
                h2.title-pink
                  | projects
                .subtitle
                  | Check out our recent work, there's something in here for everyone.
              .projects
                - var i = 0;
                - for project in projects
                  - if (i == 3) { i = 1; } else { i += 1; }
                  div(class='project project-#{i}')
                    .image
                      img(src='/images/#{project.image}', alt='#{project.title}', title='#{project.title}')
                    .link
                      - var link = '';
                      - if (project.video !== '')
                        - link = project.video+'?autoplay=1';
                        a(href='#{link}', class='cb')
                      - else
                        - if (project.link !== '')
                          - link = project.link;
                          a(href='#{link}', target='_blank')
                        - else
                          -if (project.photo !== '')
                            - link = '/images/'+project.photo;
                            a(href='#{link}', class='cb')
                    .text
                      .qtitle
                        !{project.title}
                      .quick
                        !{project.description}
              .goto-top.padd-in
                a(href='#top')
                  | Top 
                  img(src='/images/arrow_up.png')
    
  mixin footer()
  
  
