include forms

mixin header(type)
  #header
    .container
      .row
        .span12
          .inside
            .logo
              a(href='/')
                img(src='/images/logo.png')
            .info.t-grey-light
              span.phone
                | Phone: 866.894.6747
              span.login
                img(src='/images/lock.png')
                a(href='/login', class='t-grey-light') Log in
            .menu
              ul
                - if (type == 'home')
                  li.first
                    a(href='/', class='active') Home
                - else
                  li.first
                    a(href='/') Home
                - if (type == 'work')
                  li
                    a(href='/work', class='active') Work
                - else
                  li
                    a(href='/work') Work
                - if (type == 'clients')
                  li
                    a(href='/clients', class='active') Clients
                - else
                  li
                    a(href='/clients') Clients
                - if (type == 'about')
                  li
                    a(href='/about', class='active') About
                - else
                  li
                    a(href='/about') About
                - if (type == 'blog')
                  li
                    a(href='/blog', class='active') Blog
                - else
                  li
                    a(href='/blog') Blog
                li.last
                  a(href='/#quote') Free Quote
mixin flash()
  #flash
    .container
      .row
        .span12
          .inside
            
            // alert
            - if (sess.flash.error.length)
              div.alert.alert-error
                h3
                  | Errors
                ul
                  for alert in sess.flash.error
                    li #{alert}
                      
            // success
            - if (sess.flash.success.length)
              div.alert.alert-success
                h3
                  | Success
                ul
                  for success in sess.flash.success
                    li #{success}
              
            // warning
            - if (sess.flash.warning.length)
              div.alert
                h3
                  | Warning
                ul
                  for warning in sess.flash.warning
                    li #{warning}
                    
            // info
            - if (sess.flash.info.length)
              div.alert.alert-info
                h3
                  | Info
                ul
                  for info in sess.flash.info
                    li #{info}

mixin quote()
  #quote
    .container
      .row.quote-top
        .span12
          .inside
            .block
              .text1
                | Your search is over...
              .text2
                | The perfect solution is waiting for you
              .text3
                img(src='/images/arrow2.png')
            .sep-large
              .inner
                img(src='/images/sep_large.png')
      .row.bg-dots.quote-bottom
        .span4.visible-desktop.proof
          .inside
            .block
              h2.title.bg-pink.t-white
                | The Proof
              .quotes
                .quote.quote-1.active
                  .text
                    | Oxygen Productions has that rare combination of brilliant creativity balanced with understanding of business needs - they consistently overdeliver...
                  .by
                    | Tracy Ng - Brand Manager <br>Disney ABC Networks Group
                .quote.quote-2
                  .text
                    | b
                  .by
                    | b
                .quote.quote-3
                  .text
                    | c
                  .by
                    | c
                .q-pager
                  .dot.dot-1.active
                  .dot.dot-2.inactive
                  .dot.dot-3.inactive
        .span7.contact
          .inside
            .block
              h2.title.bg-pink.t-white
                | Free Quote
              span(style='color: #939393;font-size: 16px;font-style: italic;margin-left: 20px;margin-right: 10px;')
                | Or give us a quick buzz: 
              span(style='color: #1F2C35;font-size: 16px;font-style: italic;font-weight: bold;')
                | Phone: 866.894.6747
              .quoteform
                form(method='post', action='/quote')
                  mixin method('post')
                  mixin csrf(token)
                  input(name='quote[url', placeholder='URL')
                  input(name='quote[phone]', placeholder='Phone')
                  input(name='quote[email]', placeholder='Email *')
                  input(name='quote[deadline]', placeholder='Deadline')
                  textarea(name='quote[comment]', placeholder='Short Description')
                  select(name='quote['budget'])
                    option(value='-none-') Budget
                    option(value='8k-10k') 8k-10k
                    option(value='10k-25k') 10k-25k
                    option(value='25k-50k') 25k-50k
                    option(value='50k-100k') 50k-100k
                    option(value='100k') 100k+
                  select(name='quote['type'])
                    option(value='-none-') Project Type
                    option(value='motion') Motion Graphics
                    option(value='video') Video
                  input(type='submit', value='Send it!', class='send')

mixin blog_side(featured)
  .sidebar
    .featured.block
      h2
        | Highlights
      - for feature in featured
        .feature
          .name
            | #{feature.title}
          .star
            img(src='/images/star.png')
          .date
            - var date = new Date(feature.created); var d = date.getMonth() + '.' + date.getDate() + '.' + date.getFullYear();
            | #{d}
          .more
            a(href='/blog/#{feature.slug}') Read
            
    .tags.block.last
      h2
        | Tags
      a(href='/blog?tag=web') Web
      a(href='/blog?tag=video') Video
    

mixin footer()
  #footer.bg-footer
    .container
      .row
        .span4
          .inside
            .block.screens
              img(src='/images/screens.png')
              span.bright
                | Optimized For All Screens
              span.light
                | Resize your browser. It fits.
        .span8
          .inside
            .block.copyright
              img(src='/images/logo_dark.png')
              span.copy
                | Web, Flash and Video production studio located in Silicon Valley, California. Specializing in Flash Presentations and Motion Graphics. Copyright © 2000-2012 Oxygen Productions, Inc.  All rights reserved
