include ../mixins/blocks

!!! html
html
  head
    title= title
    meta(name="keywords", content="flash presentations,motion graphics,video production,actionscript programming,banner design,web site design")
    meta(name="description", content="Over 10 years flash presentation design experience, Flash actionscript programming, web site design and production, video production and digital media design. Designers for many of the Fortune 500 firms.")
    link(type="image/x-icon", href="/images/favicon.ico", rel="shortcut icon")
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
  
    a(name='top')
      
    mixin header('blog')
    mixin flash()
      
    .white-wash
      #subheader
        .container
          .row
            .span12
              .inside
                .title2.title2-alt
                  | Blog
                  
    a(name='blog')
    .white-wash
      #blog.region-top
        .container
          .row
            .span12
              .row
                .span8
                  .inside
                    .posts
                      - if (posts == 'none')
                       | No matching posts
                      - else
                        - for post in posts
                          .post
                            h1
                              a(href='/blog/#{post.slug}') !{post.title}
                            .meta
                              .date
                                - var date = new Date(post.created);
                                - var d = date.getMonth() + '.' + date.getDate() + '.' + date.getFullYear();
                                | #{d}
                              .author
                                | By: #{post.author}
                            .summary
                              .text
                                | !{post.post}
                            .tags
                              | Tags: 
                              - var i = 0;
                              - for tag in post.tags
                                - if (i != 0)
                                  | /
                                - i++;
                                a(href='#') #{tag}
                              
                .span4
                  .inside
                    mixin blog_side(featured)
      
    mixin footer()
       
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(type='text/javascript', src='/javascripts/scripts.js')